html, body {
  height: 100%;
  overflow-x: hidden;
  box-sizing: border-box !important;
}

body {
  display: flex;
  flex-direction: column;
}

.card {
  background: #fff;
}

#nav-search input[type=search]:not(.browser-default) {
  height: 30px;
  color: #000;
  margin-right: 2em;
  border-radius: 20px;
  padding-left: .5rem
}

.header {
  background: teal;
}

.logo {
  font-family: Pacifico, cursive;
  font-size: 1.5rem !important;
  margin-left: 1em;
}

.navbtn {
  background: coral;
}

.return {
  font-family: Roboto;
  font-size: 1rem !important;
  margin-left: 1em;
}

.input-fa {
  font-family: FontAwesome;
}

input {
  &[type=text]:not(.browser-default), &[type=password]:not(.browser-default), &[type=email]:not(.browser-default) {
    margin-bottom: 0.2em;
  }
}

#dashboard-parent {
  cursor: text;
}

#dash-panel {
  height: 100vh;
  padding: 0;
  position: fixed;
  background: teal;
}

#dash-img {
  margin-top: -7px;
  max-width: 100%;
}

.collection {
  border: none;
}

#dash-links .collection {
  a.collection-item {
    background-color: teal;
    color: #eee;
    line-height: 1.5rem;
    padding: 10px 20px;
    margin: 0;
    border-bottom: none;
    &:not(.active):hover {
      background-color: cornflowerblue;
    }
  }
  .collection-item.active {
    background-color: cornflowerblue;
  }
  a.collection-item:not(.active):hover:first-child {
    background-color: teal;
  }
}

.category .collapsible {
  border: none;
  padding-left: 0;
  .collapsible-header {
    border: none;
    padding-left: 0;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: .5rem;
    color: #000;
  }
  .collapsible-header:hover {
    background-color: #eee;
    transition: background-color 0.7s linear;
  }
  .collapsible-header.active {
    background: #eee;
  }
  .collapsible-body {
    padding-left: 0.5em;
    padding-top: 0;
    padding-bottom: 0.5em;
    font-weight: normal;
    li {
      padding-left: 0.5em;
      padding-top: 0;
      padding-bottom: 0.5em;
    }
  }
}

#profile-page-header {
  background: teal;
  .card-profile-image img {
    width: 80px;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
  }
  .card-profile-avatar {
    width: 80px;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
  }
}

#user-dropdown {
  margin-top: 60px;
  font-family: Roboto;
}

.dropdown-content {
  margin-top: 64px;
}

.no-margin {
  margin: 0;
}

#banner {
  padding: 0;
  margin: -7px;
}

#recipe-img {
  padding: 0;
  margin: -7px;
  .card-image img {
    height: 280px;
    object-fit: cover;
    opacity: 0.7;
  }
  .card-title {
    font-size: 2rem;
    font-weight: bolder;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.8);
  }
}

#comment-box {
  form {
    width: 98%;
    button {
      margin-right: -0.8rem
    }
  }
  textarea {
    border: 2px solid #ddd;
    border-radius: 8px;
    padding-left: .5rem
  }
  .input-field textarea[type=text]:focus {
    border: 2px solid rgb(67, 206, 206);
    border-bottom: 2px solid rgb(67, 206, 206);
    box-shadow: 0 2px 0 0 #ccc;
  }
}

#comment-posts div, ul, li, p {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

#post-btn {
  border: 2px double grey;
  &:hover {
    background: grey;
    color: white;
  }
}

#trending .collection {
  .collection-item {
    border: none;
  }
  a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
  }
}

.square {
  border-radius: 0;
}

#trending {
  .collection .collection-item.avatar img {
    position: absolute;
    width: 80px;
    height: 60px;
    overflow: hidden;
    top: -10px;
    left: 25px;
    display: inline-block;
    vertical-align: middle;
  }
  .title {
    position: absolute;
    left: 120px;
  }
}

#profile-form {
  textarea {
    border: 1px outset #eee;
    border-bottom: 1px solid #ddd;
  }
  .browser-default {
    input[type="text"] {
      border: 1px outset #eee;
      border-bottom: 1px solid #ddd;
    }
    label {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: black;
      font-weight: bold;
    }
  }
}

.tabs-vertical {
  .tabs {
    background-color: teal;
    height: auto;
    flex-direction: column;
  }
  .tab {
    width: 100%;
    flex-grow: 1;
    display: block;
    float: left;
    text-align: left;
    line-height: 48px;
    height: 48px;
    padding: 0;
    margin: 0;
    text-transform: none;
    text-overflow: ellipsis;
    .active {
      transition: border-color .5s ease;
      border-right: 3px solid coral;
    }
    a {
      color: #3f51b5;
      display: block;
      width: 100%;
      height: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
      transition: color 0.28s ease;
      &.active {
        background: #4f90ff;
      }
      &:hover {
        background: #4f90ff;
        cursor: pointer;
      }
    }
    &.disabled a {
      color: #8591d5;
      cursor: default;
    }
  }
  .indicator {
    display: none;
  }
}

#not-badge {
  margin-top: 14px;
}

#modal-register, #modal-login {
  overflow-y: hidden;
  max-height: 85%;
  max-width: 35%;
}

#modal-register .modal-content, #modal-login .modal-content {
  padding: 0;
}

.edit, .delete {
  background: none;
  padding: 0 10px 0 10px;
  border: 1px solid grey;
  transition-property: background, color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  cursor: pointer;
}

.edit:hover, .delete:hover {
  background: grey;
  color: white;
  color: white;
  padding: 0 10px 0 10px;
}

.reaction {
  padding: 2px;
  margin-left: 10px;
}

.unlike, .like {
  cursor: pointer;
  background: #009688;
  color: white;
  margin-left: 5px;
  padding-right: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
}

.unlike:hover, .like:hover {
  background: #009699;
}

.small-cards {
  .reaction {
    padding: 2px;
    margin-left: 10px;
    font-size: 0.8rem;
  }
  .counts {
    font-size: 0.9rem;
  }
  .comment {
    font-size: 1.2rem;
  }
}

.created-at {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 0.8rem;
}

.card .card-reveal {
  padding: 18px;
}

.views-small .card-content {
  padding-bottom: .5rem;
  .divider {
    position: relative;
    top: -1rem;
    margin-bottom: 0.8rem;
    margin-left: -1.75rem;
    margin-right: -1.75rem;
  }
  a, p {
    position: relative;
    top: -1rem;
    left: -1rem;
  }
}

@media only screen and (min-width: 768px) {
  .views-small a img {
    width: 200px;
    height: 250px;
  }
}

@media only screen and (max-width: 768px) {
  .views-small a img {
    width: 200px;
    height: 400px;
  }
}

@media only screen and (min-width: 600px) {
  .views-small a img {
    width: 200px;
    height: 250px;
  }
}

@media only screen and (max-width: 400px) {
  .views-small a img {
    width: 200px;
    height: 250px;
  }
}

@media only screen and (min-width: 1000px) {
  .views-small a img {
    width: 200px;
    height: 200px;
  }
}

.views .card-content .divider {
  position: relative;
  margin-bottom: 0.8rem;
  margin-left: -1.75rem;
  margin-right: -1.75rem;
}

.recipe-summary {
  font-size: 0.9rem;
}

.small-cards-main .activator {
  font-size: 1.4rem;
  padding: 0;
}

.small-cards .card-title {
  position: relative;
  font-size: 1.3rem;
  left: -1rem;
}

.views .card-image .card-title {
  right: 0;
  right: -1.2rem;
  bottom: -1.5rem;
  left: unset;
  font-weight: bold;
  font-size: 1rem;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.8);
}

.views-small {
  .card-image .card-title {
    right: -1.2rem;
    bottom: -1.5rem;
    left: unset;
    font-weight: bold;
    font-size: 0.8rem;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.8);
  }
  .card-content .card-title {
    position: relative;
    top: -1rem;
  }
}

.review {
  position: relative;
  left: 2rem;
}

.recipe-view .card-image {
  .card-title a {
    position: relative;
    color: white;
    bottom: -1rem;
    background: #999;
  }
  a {
    &:hover {
      background: #bbb;
      color: coral;
    }
    &.active {
      color: coral;
    }
  }
}

#user-profile {
  display: block !important;
}

#markdown {
  display: block;
  min-height: 20px;
  overflow: scroll;
  background: #eee;
  border-radius: 12px;
  ul {
    list-style-type: disc;
    margin-left: 2rem;
    > li {
      list-style-type: disc;
    }
  }
}

.boxReaction {
  cursor: pointer;
  background: #00796b;
  color: white;
  &:hover {
    background: #009e8c;
  }
}

#welcome-panel {
  margin-left: 10px;
  margin-right: 10px;
}

#ingredients {
  margin-top: 1rem;
}

#instructions {
  margin-top: -.2rem;
}

#ingredients ul > li {
  list-style-type: disc;
  margin-left: 2rem;
}

#instructions ul > li {
  list-style-type: decimal;
  margin-left: 1rem;
  margin-top: 1rem;
  &:first-child {
    list-style-type: decimal;
    margin-left: 1rem;
    margin-top: 0;
  }
}

textarea {
  max-height: 100px;
  overflow-y: scroll;
}

#modal-delete {
  max-width: 40%;
  margin: auto auto;
}

.pagination-container {
  display: flex;
  text-align: center;
  .pagination {
    margin: auto;
    padding: 5px 0;
    li {
      cursor: pointer;
      &.active {
        background: coral;
        transition-property: all;
        transition-duration: 1s;
        transition-timing-function: ease-in-out;
      }
    }
  }
}

.not-found {
  margin-top: 10%;
  img {
    height: 80px
  }
}

.social-icon-container {
  display: flex;
  flex-direction: column;
  width: 100% !important;
  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    li {
      padding: 10px;
      div {
        display: flex;
        background: white;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 3px solid teal;
        span {
          margin: auto
        }
      }
    }
  }
}

.small-cards-home {
  display: flex;
  flex-direction: column;
  .card-details {
    display: inline-block;
    flex-direction: row;
    margin-top: -1rem;
    a {
      top: unset
    }
  }
}

.welcome-msg {
  line-height: 2;
  font-size: 16px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif
}

@keyframes animatedBackground {
	from { background-position: 100% 0; }
	to { background-position: 0 100%; }
}

.home {
  height: 100vh;
}
.bg-home {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: url('img/spice.jpg');
  background-repeat: no-repeat;
  object-fit: cover;
  text-align: center;
  animation: animatedBackground 60s linear infinite;
}

.bg-overlay {
    position: relative;
    height: 100%;
    top: 0; 
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 1;
    img {
      vertical-align: middle;
      margin: auto;
      height: 220px;
      width: 220px;
      padding: 0;
      margin-top: 10vh;
    }
    h3 {
      color: white;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
      font-size: 48px;
      font-weight: 900;
    }
    h5 {
      color: white;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
    }
}

.btn-home {
  background: rgb(255, 127, 80);
  margin: .5%
}

.btn-home:hover {
  background: rgb(245, 117, 10);
}

#upload-btn {
  display: inline-block;
  span {
    margin-left: -0.8rem;
  }
}

#upload-btn input[type=file] {
  display:none;
}

.review-container {
  display: flex;
  flex-direction: column;
  margin-top: 0rem;
  width: 99%;
  background-color: #f3f6f8;
  padding: 2rem !important;
  .review-body {
    display: flex;
    flex-direction: row;
    .user-avatar {
      display: inline-block;
      flex-flow: 0
    }
    .review-content-block {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-left: 1rem;
      margin-top: 1.2rem !important;
      flex-grow: 2;
      div {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        .username {
          font-family: 'Helvetica', 'Garmond';
          font-size: 1rem;
          font-weight: bolder;
          color: #788
        }
        .review-time {
          color: #aaa
        }
      }
      .review-text {
        margin-top: 1rem;
        p {
          word-spacing: .2rem;
          line-height: 1.8rem;
        }
      }
      .review-controls {
        display: inline-block;
        margin-top: 1rem !important;
        i {
          cursor: pointer;
          &:first-child {
            padding-right: 1rem 
          }
        }
      }
    }
  }
}

form#search-form {
  margin-top: -5%
}

.category div {
  &:first-child {
    margin-top: 10;
  }
  &:nth-child(1) {
    margin-top: 1.5rem
  }
}

span.image-name {
  margin-left: 1%;
  font-size: 1rem;
  p {
    display: inline;
  }
}

.form-btn-control {
  display: flex;
  margin-top: 2rem;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  button:nth-child(2) {
    margin-left: 1.5rem;
    margin-right: -0.8rem;
  }
}

.loader {
  margin: 25% 45%
}

#side-nav-avatar {
  position: absolute;
  top: 54px;
  margin-left: 35%;
  width: 100%;
}

#category-page-container {
  .category-header {
    font-family: 'Lucida';
  }
}

.category-section-header {
  font-size: 18px;
}

.recipe-section-header {
  font-size: 18px;
}

#smiley {
  height: 100px;
}

#not-found-container {
  margin-top: 10%;
  img {
    height: 200px;
  }
  #back-link {
    cursor: pointer;
  }
}

#view-more {
  margin-top: 1rem;
}
