<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="css/materialize.css" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico:400,700&effect=3d-float" rel="stylesheet">
  </head>
  <body>
    <div class="navbar-fixed">
      <nav class="header">
        <div class="nav-wrapper">
          <a class="brand-logo font-effect-3d-float logo hide-on-small-only" href="#!">More-Recipies</a>
          <a href="#" data-activates="navlink" class="button-collapse"><i class="material-icons">menu</i></a>         
          <ul class="right hide-on-med-and-down">
            <li class="">
              <form id="nav-search" class="">
                <i><input class="teal-text white input-fa" type="search" placeholder=" &#xf002; Search"></i>
              </form>
            </li>
            <li class="active">
              <a class="" href="#"><i class="fa fa-heart"></i> Top Recipes</a>
            </li>
            <li class="">
              <a class="" href="#"><i class="fa fa-paper-plane"></i> New Post</a>
            </li>
            <li class="">
              <a class="waves-effect waves-light btn navbtn" href="login.html">Log In</a>
            </li>
            <li class="">
              <a class="waves-effect waves-light btn navbtn" href="register.html">Sign Up</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <ul class="side-nav" id="navlink">
      <li class="">
        <form class="">
          <input class="" type="text" placeholder="Search">
        </form>
      </li> 
      <li class="">
        <a class="" href="#">Top Recipes</a>
      </li>
      <li class="">
        <a class="" href="#">New Post</a>
      </li>
      <li class="">
        <a class="" href="login.html">Log In</a>
      </li>
      <li class="">
        <a class="" href="register.html">Sign Up</a>
      </li>
    </ul>
    <!-- <div id="footer" class="page-footer blue-grey darken-2">
      <div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
    </div> -->
    <script src="js/jquery-3.2.1.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>